.nav-container {
  background-color: #312f2e;
  color: var(--primary-text-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.burguer-logo {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.home-logo {
  font-size: 25px;
  font-family: Helvetica;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 400;
}

.navbar-cart {
  font-size: 20px;
  margin-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 400px) {
  .navbar {
    padding: 10px 5px;
  }

  .burguer-logo {
    font-size: 22px;
    margin-left: 10px;
  }

  .home-logo {
    font-size: 20px;
  }

  .navbar-cart {
    margin-right: 10px;
  }
}